*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans Condensed", sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

.App {
  max-width: 1900px;
  margin: auto;
  padding: 20px 80px;
}
